<section class="mt-3">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg">
          <div class="card shadow p-3 mb-5 bg-danger rounded">
            <img src="{{ agent.bustPortrait }}" class="card-img-top"
              alt="Hollywood Sign on The Hill" />
            <div class="card-body text-center">
              <h1 class="card-title text-center">{{ agent.displayName }}</h1>
              
              <div class="btn-profil-agent">
                <a class="btn btn-light btn-lg" href="{{path('app_agent', {'id': agent.uuid })}}" role="button">Show More</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>


