body{
  background-color: #1F1F1F!important;

  h2{
    color: #ff4655;
    font-weight: 600;
    font-size: 42px;
  }

  h1 {
    color: #ff4655;
    font-weight: 900;
    font-size: 62px;
  }
  
}

.icon {
  height: 80px;
  width: 80px;
}

.logo {
  height: 90px;
  width: 90px;
}

/*** NAVBAR ***/

#navbarSupportedContent {

  li a:hover {
      color: #ff4655;
  }
}

/*** BUTTON VAL HOME***/

#btn-val {
  z-index: 1;
  position: relative;
  bottom: 150px;
  display: flex;
  justify-content: center;


  a {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
  }
   a.white:hover > p {
    color: #ece8e1;
  }
  a.white > p {
    background: #ece8e1;
    color: #0f1923;
  }
   a.white > p span.base {
    border: 1px solid transparent;
  }
  a.transparent:hover > p {
    color: #ece8e1;
  }
  a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
  }
  a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
  }

  a.transparent > p span.base {
    border: 1px solid #ece8e1;
  }

  a:after, div a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  a:before {
    right: 0;
    left: initial;
  }
  a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
  }
  a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  
  a:hover {
    color: #ece8e1;
  }
  
  a:hover span.bg {
    width: 110%;
  }
  
  a:hover span.text:after {
    background: #ece8e1;
  }

}

#btn-valo {
  display: flex;
  justify-content: center;

  a {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
  }
   a.white:hover > p {
    color: #ece8e1;
  }
  a.white > p {
    background: #ece8e1;
    color: #0f1923;
  }
   a.white > p span.base {
    border: 1px solid transparent;
  }
  a.transparent:hover > p {
    color: #ece8e1;
  }
  a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
  }
  a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
  }

  a.transparent > p span.base {
    border: 1px solid #ece8e1;
  }

  a:after, div a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  a:before {
    right: 0;
    left: initial;
  }
  a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
  }
  a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  
  a:hover {
    color: #ece8e1;
  }
  
  a:hover span.bg {
    width: 110%;
  }
  
  a:hover span.text:after {
    background: #ece8e1;
  }

}

/*** CARDS AGENT ***/

#agent-card {

.card {
  background-color: #364048;
  cursor: pointer;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  border: 1px solid whitesmoke;
}

}

/*** AGENT ***/
#agent-description {
  margin: 150px 0;


  .role-card {
    width: 100px;
    height: 100px;
    background-color: #0e1014; /* Dark background */
    border: 2px solid #ff4655; /* Red border */
    border-radius: 8px; /* Rounded edges */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* Container for the icon */
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Styling for the role text */
  .role-title {
    text-align: center;
    color: #ffffff;
  }
}

/*** BTN LOGIN ***/

#btn-valos {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
  background: none;
  border: none;
  cursor: pointer;
}

#btn-valos p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#btn-valos p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}

#btn-valos p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}

#btn-valos p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#btn-valos p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}

#btn-valos:hover {
  color: #ece8e1;
}

#btn-valos:hover span.bg {
  width: 110%;
}

#btn-valos:hover span.text:after {
  background: #ece8e1;
}

/*** LOGIN ***/

#login {
  margin-top: 20px;
}

/* body {
  background: linear-gradient(90deg, rgba(189,199,209,1) 0%, rgba(229,143,85,1) 60%);
} */

